* {
  box-sizing: border-box;

}
body {
  text-align: center;
  margin: 0;
  background-color: #ccbea3;
  font-family: 'Kingthings Foundation', cursive;
}
section {
  display: inline-block;
  vertical-align: top;
}
.board-wrapper {
height: 100vh;
width: 49%;
background-image: linear-gradient(to bottom, rgba(204, 190, 163, 0.4), rgba(204, 190, 163, 0.4)), url('images/paper-background.png');
background-size: cover;
background-repeat: no-repeat;
display: inline-block;
vertical-align: top;
}
#board {
width: 100%;
}
#board div {
  display: inline-block;
  width: 28%;
  height: 160px;
  cursor: pointer;
  margin-bottom: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: top;
  border-radius: 3px;
}

#board div.Defence {
  background-image: url('images/shield.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
#board div.Attack {
  background-image: url('images/swords.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.reset-btn {
  cursor: pointer;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #00004e;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.who-won {
  font-size: 45px;
  color: #00004e;
  background-image: url(images/winner-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  margin-top: 20px;
}

#attack-player, #defence-player {
  padding-top: 20px;
  height: 100vh;
  width: 25.2%;
}
#defence-player {
  background: linear-gradient( to right, #fa9d00 50%, #00909e 50%);
}
#attack-player {
  background: linear-gradient( to right, #f44336 50%, #cddc39 50%);
}
#defence-player h2, #attack-player h2, h1 {
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: bold;
  color: oldlace;
}
h1 {
  padding: 10px 0;
  color: #00004e;
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 35px;
  background-image: url(images/winner-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
