* {
  box-sizing: border-box;
}
body {
  text-align: center;
}
section {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
#board {
  width: 49%;
}
#board div {
  display: inline-block;
  width: 28%;
  height: 160px;
  background-color: pink;
  cursor: pointer;
  vertical-align: top;
  margin-bottom: 5px;
}
#board .o {
  background-color: lightgreen;
}
#board .x {
  background-color: lightblue;
}
